.form-table th {
	font-weight:bold;
}

.form-table input.the_title {
	font-size:20px;
	padding:3px 8px;
}

.chzn-select {
	min-width:300px;
}

.mini_size {
	width:100px;
}

.sub_sub_setting_label {
	width:70%;
	margin:0px 0px 0px 30px;
}
.form-table th .sub_sub_setting_label {
	font-weight: normal;
}